<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/qunit.css">
<script src="/qunit.js"></script>
<script src="/jquery-1.4.2.min.js"></script>
<script src="/rocket/rocket.js"></script>
<script>

  rocket = new Rocket("ws://localhost:9772")

</script>
<script src="/test.js"></script>
</head>
<body>
<!--
  <h1 id="qunit-header">Pusher Tests</h1>
  <h2 id="qunit-banner"></h2>
  <h2 id="qunit-userAgent"></h2>
  <ol id="qunit-tests"></ol>
-->
</body>
</html>
