<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/qunit.css">
<script src="/qunit.js"></script>
<script src="/jquery-1.4.2.min.js"></script>
<script src="/testing/rocket-<%= Rocket::JS.version %>.js"></script>
<script>

  // The web-socket-js configuration.
  WEB_SOCKET_SWF_LOCATION = 'rocket/WebSocketMain.swf';
  WEB_SOCKET_DEBUG = false;
  
  // Build new rocket
  rocket = new Rocket('ws://localhost:9772', 'test_app');
  // Subscribe a channel.
  testChannel = rocket.subscribe('test-channel');
  // Bind callback to event. 
  //testChannel.bind('test-event', function(data) {
  //  alert('hello!');
  //});
  
</script>
</head>
<body>
<!--
  <h1 id="qunit-header">Pusher Tests</h1>
  <h2 id="qunit-banner"></h2>
  <h2 id="qunit-userAgent"></h2>
  <ol id="qunit-tests"></ol>
-->
</body>
</html>
